# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env
.env.*

# Database
*.db
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testing
.pytest_cache/

# Docker override
docker-compose.override.yml